.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: whitesmoke;
    margin: 3rem;
}

.contents-card {
    padding: 5%;
}

.card-body{
    background: rgba(245, 237, 237, 0.637);
      opacity: 80px;
      border: double whitesmoke;
      border-radius: 15px;
  }
.pici{
    width: 260px;
    float: center;
}